body
{ background-color: cadetblue;

}
.tableview
{
        margin: 5px;
    padding: 3px;
   
}
#table
{
        width: 100%;
    text-align: center;
        background-color: gainsboro;
}
#table .heading
{
    background-color: cadetblue;
    height: 40px;
    font-size: 20px;
}
#table tr
{
    
    height: 30px;
}
.search
{
    display: flex
;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    background-color: lavender;
}
.search label
{
    font-size: 17px;
    font-weight: bold;
    margin: 4px;
}
.search input
{
    font-size: 17px;
    margin: 4px;
    border-radius: 10px;
    border: none;
    height: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
}
#addNew
{
margin: 5px;
padding: 5px;
}
#addNewItem
{
    font-weight: bold;
}
#inputDiv
{
    margin: 8px;
padding: 10px;
}
#inputDiv input
{
   font-size: 12px;
    padding: 10px 10px 10px 20px;
    border: none;
    text-transform: capitalize;
}

.add
{
  font-size: 12px;
    padding: 10px ;
  border: none;
    background-color: limegreen;
    font-weight: bold;
    display: "";
}
.update
{
    display: none;
    font-size: 12px;
    padding: 10px ;
  border: none;
    background-color: limegreen;
    font-weight: bold;
}
#popupView
{
   background-color: rgba(0, 0, 0, 0.3);
    /* margin: 0px; */
    position: fixed;
    /* opacity: 0; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#popupBox
{
        background-color: gainsboro;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
}
#popupTitle
{
    text-align: left;
}
#buttonView
{
        display: flex
;
    justify-content: flex-end;
    margin: 2px;
    padding: 5px;
}
#buttonView button
{
       padding: 5px;
    margin: 2px;
    background: cadetblue;
    font-size: 13px;
}